<div id="{{menuAuth}}SignInWrapperId">
<button type="button" class="signInBtnmenu" id="{{menuAuth}}SignInBtnId" data-btn="signin">Войти</button>
<span class="sign-in-up__stickmenu"></span>
<button type="button" class="signUpBtnmenu" id="{{menuAuth}}SignUpBtnId" data-btn="signup">Регистрация</button>
</div>
<div class="profile-Mobil">
<div id="{{menuAuth}}SignUpWrapperId" class="profile-Mobil element_hidden">
<button type="button" class="user_btnmenu" id="{{menuAuth}}User_btn" data-btn="user">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.4213 20.0002H16.3948C16.3948 16.5814 13.5272 13.801 10 13.801C6.47281 13.801 3.60626 16.5824 3.60626 20.0002H1.57971C1.57971 15.4627 5.35821 11.7744 10.001 11.7744C14.6428 11.7744 18.4213 15.4627 18.4213 20.0002Z"/>
<path d="M10.001 11.1156C6.93788 11.1156 4.44421 8.62093 4.44421 5.55781C4.4432 2.49367 6.93687 0 10.001 0C13.0662 0 15.5598 2.49265 15.5598 5.55781C15.5598 8.62296 13.0662 11.1156 10.001 11.1156ZM10.001 2.02655C8.0535 2.02655 6.46975 3.61029 6.46975 5.55781C6.46975 7.50532 8.0535 9.08907 10.001 9.08907C11.9495 9.08907 13.5333 7.50532 13.5333 5.55781C13.5333 3.61029 11.9475 2.02655 10.001 2.02655Z"/>
</svg>
    Кабинет</button>
<span class="sign-in-up__stickmenu">|</span>
<button type="button" class="logOutBtnmenu" id="{{menuAuth}}LogOutBtn" data-btn="logout"></button>
<div class="profile-menuMobil mobil-hidden" id="profile-menuMobil">
    <button class="profile-menuMobil__name is-mobil-hidden" id="profile-menuMobil-MyAdv">Мои обьявления</button>
    <button class="profile-menuMobil__name is-mobil-hidden" id="profile-menuMobil-favorite">Избранное</button>
</div>
</div>
</div>
