<div id="{{menuAuth}}SignInWrapperId">
<button type="button" class="signInBtnmenu" id="{{menuAuth}}SignInBtnId" data-btn="signin">Войти</button>
<span class="sign-in-up__stickmenu"></span>
<button type="button" class="signUpBtnmenu" id="{{menuAuth}}SignUpBtnId" data-btn="signup">Регистрация</button>
</div>
<div id="{{menuAuth}}SignUpWrapperId" class="element_hidden">
<button type="button" class="user_btnmenu" id="{{menuAuth}}User_btn" data-btn="user">Кабинет</button>
<span class="sign-in-up__stickmenu"></span>
<button type="button" class="logOutBtnmenu" id="{{menuAuth}}LogOutBtn" data-btn="logout"></button>
</div>