<div class="productInfo__wrapper">
  <div class="productInfo__images">
    <div class="productInfo__imgMax-wrapper">
      <img class="productInfo__imgMax" src="" alt="{{title}}" />
    </div>

    <ul class="list productInfo__list-imgMin">
      {{#each imageUrls}}
      <li class="productInfo__item-imgMin" data-url="{{this}}">
        <img class="productInfo__imgMin" src="{{this}}" alt="{{title}}" />
      </li>

      {{/each}}
    </ul>
  </div>


  <div class="productInfo__info">
    <h2 class="productInfo__title">{{title}}</h2>
    <p class="productInfo__code">Код товару | {{_id}}</p>


    <div class=" siema  productInfo__imgSlider">
      {{#each imageUrls}}
      <div class="productInfo__imgSlider-img">
        <img src="{{this}}" alt="{{title}}" />
      </div>
      {{/each}}
    </div>

    <div class="dots"></div>

    <p class="productInfo__price">{{price}} <span> &#8364;</span></p>
    <button class="productInfo__button" type="button" data-id="{{_id}}" data-category="{{category}}">
      Информация о <br>продавце
    </button>
    <div class="dealerInfo">
      <p><span>Телефон: </span><span class="dealerTel">+38**********</span></p>
    </div>
    <ul class=" list productInfo__action-list">
      <li class="productInfo__action-item favorites-js ">
        <span class="productInfo__action-item-text">В избранное </span>
        <svg class="productInfo__action-item--favorite-icon " version="1.1" xmlns="http://www.w3.org/2000/svg"
          width="14" height="14" viewBox="0 0 37 32">
          <title>icon-favorite</title>
          <path
            d="M18.286 29.714c-0.456 0-0.895-0.159-1.237-0.448-1.293-1.089-2.539-2.112-3.639-3.015l-0.006-0.005c-3.224-2.647-6.008-4.933-7.945-7.184-2.165-2.517-3.174-4.904-3.174-7.511 0-2.533 0.902-4.87 2.539-6.581 1.656-1.731 3.929-2.684 6.401-2.684 1.847 0 3.539 0.563 5.028 1.672 0.751 0.56 1.433 1.245 2.033 2.045 0.6-0.799 1.281-1.485 2.033-2.045 1.489-1.11 3.181-1.672 5.028-1.672 2.471 0 4.744 0.953 6.401 2.684 1.637 1.711 2.538 4.048 2.538 6.581 0 2.607-1.008 4.994-3.174 7.511-1.937 2.252-4.721 4.538-7.944 7.184-1.102 0.904-2.35 1.929-3.645 3.021-0.342 0.288-0.782 0.447-1.237 0.447zM11.225 4.092c-1.942 0-3.725 0.747-5.023 2.102-1.317 1.376-2.042 3.279-2.042 5.357 0 2.193 0.846 4.154 2.743 6.359 1.833 2.131 4.56 4.37 7.717 6.962l0.006 0.005c1.104 0.906 2.355 1.934 3.657 3.031 1.31-1.099 2.563-2.128 3.669-3.036 3.157-2.592 5.883-4.831 7.717-6.962 1.896-2.205 2.742-4.166 2.742-6.359 0-2.078-0.725-3.981-2.042-5.357-1.297-1.356-3.081-2.102-5.023-2.102-1.422 0-2.728 0.436-3.881 1.295-1.028 0.766-1.743 1.734-2.163 2.411-0.216 0.348-0.596 0.556-1.016 0.556s-0.801-0.208-1.016-0.556c-0.419-0.677-1.135-1.646-2.163-2.411-1.153-0.859-2.459-1.295-3.881-1.295z">
          </path>
        </svg>
      </li>
      <li class="productInfo__action-item "><span>Поделиться</span>

        <svg class="productInfo__action-item--share-icon" width="14" height="14" viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.7179 10.6667C11.9062 10.6667 11.1785 11.0317 10.689 11.6057L5.87323 8.62819C5.92211 8.42653 5.94867 8.21634 5.94867 7.99997C5.94867 7.78356 5.92208 7.57334 5.87323 7.37175L10.689 4.39422C11.1785 4.96825 11.9061 5.33328 12.7179 5.33328C14.1883 5.33328 15.3846 4.137 15.3846 2.66663C15.3846 1.19628 14.1883 0 12.7179 0C11.2475 0 10.0513 1.19628 10.0513 2.66666C10.0513 2.88306 10.0779 3.09328 10.1267 3.29487L5.31095 6.27241C4.82142 5.69837 4.09376 5.33334 3.28201 5.33334C1.81161 5.33334 0.615356 6.52962 0.615356 8C0.615356 9.47038 1.81164 10.6667 3.28201 10.6667C4.09379 10.6667 4.82145 10.3016 5.31098 9.72759L10.1267 12.7051C10.0778 12.9067 10.0513 13.1169 10.0513 13.3333C10.0513 14.8038 11.2475 16 12.7179 16C14.1883 16 15.3846 14.8037 15.3846 13.3333C15.3846 11.863 14.1883 10.6667 12.7179 10.6667ZM12.7179 1.23078C13.5097 1.23078 14.1538 1.87494 14.1538 2.66669C14.1538 3.45844 13.5097 4.10259 12.7179 4.10259C11.9262 4.10259 11.282 3.45844 11.282 2.66669C11.282 1.87494 11.9262 1.23078 12.7179 1.23078ZM3.28204 9.43591C2.49029 9.43591 1.84614 8.79175 1.84614 8C1.84614 7.20825 2.49029 6.56409 3.28204 6.56409C4.07379 6.56409 4.71795 7.20825 4.71795 8C4.71795 8.79175 4.07379 9.43591 3.28204 9.43591ZM12.7179 14.7692C11.9262 14.7692 11.282 14.1251 11.282 13.3333C11.282 12.5416 11.9262 11.8974 12.7179 11.8974C13.5097 11.8974 14.1538 12.5416 14.1538 13.3333C14.1538 14.1251 13.5097 14.7692 12.7179 14.7692Z" />
        </svg>
      </li>
    </ul>
    <p class="productInfo__desctiption">Описание:</p>
    <p class="productInfo__desctiption-text">
      {{description}}
    </p>

  </div>
</div>